*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #141414;
    color: #eaeaea;
}

img{
    max-width: 100%;
}

iframe{
    max-width: 100%;
}

/* ESTILOS PARA EL MENU */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #070707;
    border-bottom: 3px solid black;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
}

#logo{
    height: 7rem;
    margin-right: 2rem;
}

header nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-inline-start: 0;
    list-style-type: none;
}

header nav a{
    color: #eaeaea;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 1rem 2rem;
}

header nav a:hover{
    color: white;
}

.rrss a{
    color: #eaeaea;
    font-size: 1.4rem;
    margin: 1rem;
}

.rrss a:hover{
    color: white;
}

#boton_jugar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 200px;
    height: 4rem;
    font-size: 1.4rem;
    text-align: center;
    color: #eaeaea;
    overflow: hidden;
    background: linear-gradient(to bottom, #8f714a, #ad8b53);
}

#boton_jugar:hover{
    color: white;
    background: linear-gradient(to bottom, #b38d5c, #dbb06a);
}

/* ESTILOS PARA EL HOME */
#bienvenida{
    background-image: url("../img/fondo-bienvenida.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: white;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
}

#logo_bienvenida{
    width: 30rem;
    margin-bottom: 1rem;
}

#bienvenida a{
    color: #eaeaea;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#bienvenida a:hover{
    color: white;
}

#bienvenida span{
    color: #eaeaea;
    font-size: 2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem;
}

#descarga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#descarga h1{
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}

#descarga p{
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
}

#descarga>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
}

#descarga>div>button{
    background: linear-gradient(to bottom, #eaeaea, white);
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: 200px;
    font-size: 1.1rem;
    border: 1px solid #eaeaea;
}

#descarga>div>button:hover{
    background-color: #070707;
    color: #eaeaea;
    background: none;
}

#historia{
    border-top: 10px solid black;
    background-image: url("../img/historia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 40vh;
    color: white;
}

#historia h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 1;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 0.5rem 2rem;
}

#historia p{
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 0.5rem 2rem;
    height: fit-content;
    width: 80%;
    line-height: 30px;
    text-align: center;
    font-size: 1.2rem;
}

#combate{
    border-top: 10px solid black;
    background-image: url("../img/combate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 40vh;
    color: white;
}

#combate h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 1;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 0.5rem 2rem; 
}

#combate p{
    text-align: center;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 0.5rem 2rem;
    height: fit-content;
    width: 80%;
    line-height: 30px;
    font-size: 1.2rem;
}

/* ESTILOS PARA CARACTERISTICAS */
#caracteristicas{
    height: 65vh;
    background-image: url(../img/caracteristicas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.75);
    position: relative;
}

.titulo{
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: #00000095;
    color: white;
    font-size: 3rem;
    padding: 0.5rem;
}

#facciones{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

#facciones img{
    width: 150px;
    object-fit: cover;
    margin: 1rem;
}





/* ESTILOS PARA EL FOOTER */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #070707;
    color: white;
    padding: 1rem;
}

footer a{
    color: #eaeaea;
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover{
    color: white;
}

footer>div{
    margin-right: 2rem;
}